<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: xdbrowserstorage -->
        <add key="xdbrowserstorage_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=xdbrowserstorage;AccountKey=JQNhu/vSJ6RiR9mySR9DU89rc0xM98PE12PWs96SuVorH2VF8QbaaCy5YVEH0ucm98f6aSwAt2qN4tMNShoMNw==" />
    </appSettings>
</configuration>